thead {color:darkmagenta}

.btn-success{
  color: #fff;
  background-color:indigo;
  border-color: indigo;
}

.tile {
  width:340px;
  height: 430px;
}

.icon{
 width:30px;
}

.btn-check:checked+.btn-light {
  color: #fff;
  background-color: indigo;
  border-color: indigo;
}

.btn-check:checked+.btn-dark {
  color: #fff;
  background-color: indigo;
  border-color: indigo;
}

.thumbnail-grid{
  width: 320px;
  height: 180px;
}

.tab-image{
  width:100px;
  max-height: 25px;
}

